@{
    ViewBag.Title = Model.Name;
    IAuthentication auth = DependencyResolver.Current.GetService<IAuthentication>();
}
@using ChudoPechkaLib.Models
@using ChudoPechkaLib;
@model Dish
@section ScriptAndStyle{
    <style>
        .text {
            width: 600px;
            height: 80px;
            font-family: Calibri;
        }

        #load {
            width: 100px;
            height: auto;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: auto;
        }

        .button {
            margin-left: 85px;
            margin-bottom: 10px;
        }

        .line {
            width: 70%;
        }

        .comment-text-container {
            width: 600px;
            display: inline-block;
            vertical-align: top;
        }

        .comment {
            margin-bottom: 10px;
            border-bottom: 1px solid black;
            padding-bottom: 10px;
        }

        .comment-button {
            width: 17px;
            height: 17px;
            display: inline-block;
        }

        .comment-button-img {
            width: 100%;
            height: 100%;
        }
    </style>
    <script>
        $(window).load(function () {
            SetComments();
        });

        function SetComments() {
            $("#comments").html('<div id="load"><img src="@Url.Content("~/img/Standart/Load.gif")" style="width:100%;height:auto" /></div>');
            $.ajax({
                async: true,
                contentType: "html",
                method: "Post",
                url: '@Url.Action("GetComments")?dish_id=@Model.Id',
                success: function (data) {
                    $("#comments").html(data);
                    $("#load").remove();
                }
            });
        }

        function SendComment() {
            var data = {
                "__RequestVerificationToken": $("[name=__RequestVerificationToken]").val(),
                "user_login": $("#user_login").val(),
                "dish_id": $("#dish_id").val(),
                "text": $(".text").val()
            };

            $.post('@Url.Action("AddComment")', data)
                .success(function () {
                    SetComments();
                    $(".text").val("");
                });
        }
        function DeleteComment(elem) {
            elem = $(elem).closest(".comment");
            elem = $(elem).find(".comment-information");
            var data = {
                "__RequestVerificationToken": $("[name=__RequestVerificationToken]").val(),
                "user_login": $(elem).find(".login").val(),
                "comment_id": $(elem).find(".comment_id").val()
            }
            $.post('@Url.Action("RemoveComment")', data)
                .success(function () {
                    SetComments();
                });
        }
        function SetEditorForComment(elem) {
            elem = $(elem).closest($('.comment-text-container'));
            var text = $(elem).find(".comment-text").text();
            text = text.replace(/\s+/g, ' ')


            elem = $(elem).closest(".comment").find(".comment-information");
            //Я просто скопипастил редактор и добавил кнопку отмены и попроавил кнопку
            var html = '<div style="width:80px;height:auto; display:inline-block;"><img src="@Url.Content(auth.User.AvatarPath)" style="width:100%; height:100%; border-radius:100%;" /></div><div style="display:inline-block"><textarea class="text"></textarea></div><button class="button" onclick="UpdateComment(this)">Отправить</button><span style="font-size:8pt; margin-left: 400px;" onclick="SetComments()">Отменить</span>';
            var inform = $(elem).html();

            elem = $(elem).closest(".comment");

            $(elem).html(html);
            $(elem).find("textarea").val(text);
            $(elem).append(inform);
        }
        function UpdateComment(elem) {
            elem = $(elem).closest(".comment");
            var token = $("[name=__RequestVerificationToken]").val();
            var login = $(elem).find(".login").val();
            var comment_id = $(elem).find(".comment_id").val();
            var text = $(elem).find(".text").val();
            var data = {
                "__RequestVerificationToken": token,
                "user_login": login,
                "comment_id": comment_id,
                "text": text
            };

            $.post('@Url.Action("UpdateComment")', data)
                .success(function () {
                    SetComments();
                    $(".text").val("");
                });
        }
        function OnLeaveButton(elem, src) {
            $(elem).find(".comment-button-img").removeAttr("src");
            $(elem).find(".comment-button-img").attr("src", src);
        }
        function OnMoveButton(elem, src) {
            $(elem).find(".comment-button-img").removeAttr("src");
            $(elem).find(".comment-button-img").attr("src", src);
        }
    </script>
    <script src="~/scripts/jquery-2.2.1.js"></script>
}
<div style="padding-left:15px;">
    <div style="text-align:center; font-size: 19pt;">
        <hr size="5" color="black" class="line">
        <span>@Model.Name</span>
        <hr size="5" color="black" class="line">
    </div>
    @if (auth.IsAuthentication)
    {
        <div style="width:80px;height:auto; display:inline-block;">
            <img src="@Url.Content(auth.User.AvatarPath)" style="width:100%; height:100%; border-radius:100%;" />
        </div>
        <div style="display:inline-block">
            @Html.AntiForgeryToken()
            <input type="hidden" value="@auth.User.Login" id="user_login" />
            <input type="hidden" value="@Model.Id" id="dish_id" />
            <textarea class="text"></textarea><br />
        </div>
        <button class="button" onclick="SendComment()">Отправить</button>
    }
    <div id="comments">
    </div>
</div>