@model ChudoPechkaLib.Data.Model.User
@{
    Layout = null;
    string FullName = Model.FirsName + " " + Model.SecondName;
}
<div id="head">

    <div id="info">
        <span id="LoginName">@Model.Login</span><br />
        <span id="FullName">@FullName</span>
    </div>
    <div id="avatar">
        <img style="width:90%;height:90%;border-radius:100%;" src="@Model.AvatarPath" />
    </div>

    @using (Html.BeginForm("Recovery", "Account", FormMethod.Post))
    {
        <label>@Model.SecretQuestion ?</label><br />
        <input type="hidden" value="@Model.Login" name="login" />
        <input class="text-box" type="text" name="responseQuestion" /><br />
        <label>Новый пароль</label><br />
        <input class="text-box" id="newPass" type="password" name="newPass" /><span id="error"></span><br />
        <input class="button" type="submit" value="Изменить" />
    }
</div>
<script>
    $("#newPass").keyup(function () {

        var passvalue = $("#newPass").val()

        if (passvalue.length > 50)
            $("#error").text("Пароль должен быть не больше 50 символов");
        else if (passvalue.length < 7)
            $("#error").text("Пароль должен быть не меньше 7 символов");
        else
            $("#error").empty();
    });
</script>