
@{
    string FullName = Model.FirsName + " " + Model.SecondName;
    ViewBag.Title = FullName;
    List<Group> groups = new List<Group>();
    groups.AddRange(Model.AdministartionGroups);
    groups.AddRange(Model.Groups);
    groups.Sort();
    IAuthentication auth = DependencyResolver.Current.GetService<IAuthentication>();
}
@using ChudoPechkaLib.Models
@using ChudoPechkaLib
@model User
@section ScriptAndStyle{
    <style>
        #AvatarContainer {
            width: 300px;
            height: 100%;
            float: left;
        }

        #Avatar {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }

        #User-information {
            width: 500px;
            text-align: center;
            font-size: 19pt;
            display: inline-block;
        }

        .Group {
            display: table-cell;
            border-left: 1px solid black;
            padding-left: 10px;
            padding-right: 10px;
        }

            .Group:hover {
                background-color: white;
            }
    </style>

}
<div id="User-information">
    <span>@FullName</span>
    <div style="text-align:left; font-size:14pt; margin-top: 50px;padding-left:25px">
        <span>Дата рождения: @Model.BirthDay.ToString("D")</span><br />
        <span>Логин: @Model.Login</span>
    </div>
    <div style="margin-top:50px">
        <span>Группы</span>
    </div>
    <div style="overflow-x:scroll; margin-left:25px;margin-bottom:10px;">
        @foreach (Group group in groups)
        {
            <div class="Group">
                <a href="@Url.Action("Index","Group", new {Group_id = group.Id })">
                    @group.Name
                </a>
            </div>
        }
    </div>
    @if (auth.User.Equals(Model))
    {
        <div style="margin-top:50px; margin-bottom:10px;">
            <span>Сменить аватар</span>
            @using (Html.BeginForm("UploadAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="upload" />
                <input type="submit" value="Загрузить" class="button" />
            }
        </div>
    }
</div>
<div id="AvatarContainer">
    <img src="@Url.Content(Model.AvatarPath)" id="Avatar" />
</div>


