
@using System.Web.Mvc
@using ChudoPechkaLib
@{
    IDBManager auth = DependencyResolver.Current.GetService<IDBManager>();
    /*
    НАПОМИНАНИЕ: Переплетается смысл меню еды и юзер меню. Если не будет лень исправить
    */
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            margin: 0px;
            background-image: url(/img/BG.jpg);
            background-attachment: fixed;
        }

        #content {
            width: 800px;
            height: auto;
            border-right: solid black 1px;
            border-left: solid black 1px;
            margin: auto;
            margin-top: 0px;
            background-color: rgba(255, 255, 255, 0.9);
            padding-top: 10px;
            font-family: Calibri;
        }

        #cap {
            background-color: #00050A;
            width: 100%;
            height: auto;
        }

        #menu {
            margin: 0px;
            list-style: none;
            color: white;
            font-family: Arial;
            font-size: 90%;
            height: 100%;
            width: auto;
        }

        #conteiner-Menu {
            float: right;
            margin-right: 1.8%;
        }

        #logo {
            width: 5%;
            height: auto;
            border-radius: 100%;
        }

        .text-box {
            width: 400px;
            height: 25px;
            margin-bottom: 10px;
            font-size: 14pt;
            font-family: Arial;
        }

        ul, li {
            display: inline-block;
        }

        ul {
            padding: 0px;
        }

        .button {
            width: auto;
            height: 40px;
            background-color: #ee5f0b;
            font-family: Arial;
            font-size: 14pt;
            border: none;
        }
        /*Начина от сюда пользовательское меню*/
        .User-menu, .User-menu:hover, .User-menu:visited {
            color: white;
        }

        .HeadMenuItem {
            visibility: hidden;
            background-color: #161e26;
            width: 100px;
        }

            .HeadMenuItem:hover {
                background-color: #00050A;
            }

        .Menu {
            display: block;
            position: absolute;
            z-index: 500;
        }

        .name {
            display: block;
            width: 100%;
            vertical-align: middle;
        }

        .auth-menu {
            margin-right: 15px;
            float: left;
            width: 100px;
            text-align: center;
        }

        #Group-context-menu {
            margin-right: 10%;
            display: none;
        }

        .context-menu:hover {
            background-color: #161e26;
        }
    </style>
    <script src="~/scripts/jquery-2.2.1.js"></script>
    <script type="text/javascript">
        var Elems = ["Group-context-menu"];

        function Render(id) {
            var elem = "#";
            Elems.forEach(function (el) {
                if (el === id)
                    elem += el;
            });

            $(elem + ">.HeadMenuItem").css("visibility", "visible");
            $(elem).css("height", "53.6px")
            $(elem).css("display", "block")
        }
        function Derender(id) {
            var elem = "#";
            Elems.forEach(function (el) {
                if (el === id) {
                    elem += el;

                }
            });

            $(elem + ">.HeadMenuItem").css("visibility", "hidden");
            $(elem).css("height", "0px")
            $(elem).css("display", "none")
        }
    </script>
    <script>
        $(document).ready(function () {
            function Resize() {
                var CapSize = $("#cap").height();
                var spanSize = $(".name>span").height();
                var exitSize = $(".account-element").height();
                var aSize = $(".HeadMenuItem>a").height();
                if (spanSize === null)
                    spanSize = 15;
                if (aSize === null)
                    aSize = 15;

                $("#conteiner-Menu").css("height", CapSize + "px");
                $(".name").css("height", ((CapSize / 2) + 9) + "px");
                $(".name>span").css("display", "block");
                $(".name>span").css("margin-top", ((CapSize - 3 - spanSize) / 2) + "px");
                $(".account-element").css("margin-top", ((CapSize - 3 - spanSize) / 2) + "px");
                $(".HeadMenuItem").css("height", CapSize + "px");
                $(".HeadMenuItem>a").css("display", "block").css("margin-top", ((CapSize - 3 - aSize) / 2) + "px");

            }
            Resize();
            $(window).resize(Resize);
        });
        function Riderict(url) {
            location = url;
        };
    </script>
    @RenderSection("ScriptAndStyle")
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div id="cap">
            <a href="@Url.Action("Index","Home")">
                <img src="http://chudo-pechka.by/assets/templates/Chudopechka/images/logo.png" id="logo" />
            </a>
            <div id="conteiner-Menu">
                <ul id="menu">
                    @if (auth.IsAuthentication)
                    {
                        <li class="auth-menu context-menu" style="margin-right:0px;">
                            <div class="name">
                                @if(auth.User.Balnce < 0)
                                {
                                    <span style="color:red">@string.Format("{0:N} руб.", auth.User.Balnce)</span>
                                }
                                else
                                {
                                    <span style="color:green">@string.Format("{0:N} руб.", auth.User.Balnce)</span>
                                }
                            </div>
                        </li>
                            <li class="auth-menu context-menu" style="margin-right:0px;" onclick="location.href = '@Url.Action("Index","Order")'">
                                <div class="name">
                                    <span>Заказ</span>
                                </div>
                            </li>
                            <li class="auth-menu context-menu" onmouseover="Render('Group-context-menu')" onmouseout="Derender('Group-context-menu')">
                                <div class="name">
                                    <span>Группа</span>
                                </div>
                                <ul id="Group-context-menu" class="Menu">
                                    <li class="HeadMenuItem" onclick="Riderict('@Url.Action("Create", "Group")')">
                                        <a class="User-menu">Создать</a>
                                    </li>
                                    @if (auth.User.IsNewAnnouced())
                                    {
                                        <li class="HeadMenuItem" style="background-color: red;" onclick="Riderict('@Url.Action("Index", "Announced")')">
                                            <a class="User-menu">Оповещания</a><!--Не знаю почему но тоже самое со span не работает-->
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="HeadMenuItem" onclick="Riderict('@Url.Action("Index", "Announced")')">
                                            <a class="User-menu">Оповещания</a>
                                        </li>
                                    }
                                    <li class="HeadMenuItem" onclick="Riderict('@Url.Action("My", "Group")')">
                                        <a class="User-menu">Мои</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="account-element" style="float:none;">
                                <a href="@Url.Action("LoginOut","Account")" class="User-menu">Выход</a>
                            </li>
                    }
                    else
                    {
                        <li class="account-element">
                            <a href="@Url.Action("LoginIn","Account")" class="User-menu">Вход</a>
                        </li>
                        <span> / </span>
                        <li class="account-element">
                            <a href="@Url.Action("Create","Account")" class="User-menu">Регистрация</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
