
@{
    ViewBag.Title = "ToOrder";
    IMenu menu = DependencyResolver.Current.GetService<IMenu>();
    IAuthentication auth = DependencyResolver.Current.GetService<IAuthentication>();
    List<Group> groups = new List<Group>(auth.User.Groups);
    groups.AddRange(auth.User.AdministartionGroups);
    groups.Sort();

    Model.SelectedGroups = new List<SlectedGroup>(groups.Count);

    for (int i = 0; i < groups.Count; i++)
    {
        Model.SelectedGroups.Add(new SlectedGroup { GroupName = groups[i].Name, GroupId = groups[i].Id, Selected = false });
    }
}
@using ChudoPechkaLib.Menu
@using ChudoPechkaLib
@using ChudoPechka.Models
@using ChudoPechkaLib.Models
@model OrderModel
@section ScriptAndStyle{
    <style>
        .text {
            width: 190px;
            line-height: 20px;
            padding: 5px;
        }

        .line {
            width: 80%;
        }

        .head {
            font-family: 'Segoe Print';
            font-size: 14pt;
            text-align: center;
        }

        #GroupContainer {
            overflow-y: scroll;
            overflow-x: auto;
            height: 270px;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
        #DateConteiner{
            height:50px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(window).load(function () {
            $('[value=Полный]').attr("checked", "checked");
        });
    </script>
}

<div style="margin-bottom:10px;padding-right:20px; padding-left:20px; border-bottom:1px solid black">
    @Html.ValidationSummary()
    <div style="margin-bottom:10px;padding-right:20px; padding-left:20px; border-bottom:1px solid black">
        @using (Html.BeginForm())
        {
            <div style="width:100%; text-align: center; vertical-align: top;">
                <div class="head">
                    <hr size="5" color="black" class="line" style="width: 80%;" />
                    <span style="font-size:18pt;">Меню</span>
                    <hr size="5" color="black" class="line" style="width: 80%;" />
                </div>
                @foreach (MenuItem item in menu.MenuItems)
                {
                    <div style="width:200px; display: inline-block">
                        <div class="head">
                            <hr size="5" color="black" class="line" />
                            <span>@item.Day</span>
                            <hr size="5" color="black" class="line" />
                        </div>
                        @Html.Raw(item.Menu)
                    </div>
                }
            </div>
            <div class="head">
                <hr size="5" color="black" class="line" style="width: 80%;" />
                <span style="font-size:18pt;">Группы</span>
                <hr size="5" color="black" class="line" style="width: 80%;" />
            </div>
            <div id="GroupContainer">
                @if (Model.SelectedGroups.Count > 0)
                {
                    for (int i = 0; i < Model.SelectedGroups.Count; i++)
                    {
                        <div style="height:auto; border-bottom:1px solid black; padding: 3%;">
                            @Html.CheckBoxFor(m => m.SelectedGroups[i].Selected) @Model.SelectedGroups[i].GroupName
                            @Html.HiddenFor(m => m.SelectedGroups[i].GroupName)
                            @Html.HiddenFor(m => m.SelectedGroups[i].GroupId)
                        </div>
                    }
                }
                else
                {
                    <div style="margin-top: 17%; font-size: 18pt; text-align: center;"><span>Вы не состоите в группе</span></div>
                }
            </div>
            <div id="DateConteiner">
                <input type="datetime" disabled="disabled" />
            </div>
            <div style="margin:0px; margin-top:2%; margin-bottom: 2%">

                @Html.AntiForgeryToken()
                @Html.RadioButtonFor(m => m.Type, "Полный") <span>Полный</span>
                @Html.RadioButtonFor(m => m.Type, "Первое") <span>Первое</span>
                @Html.RadioButtonFor(m => m.Type, "Второе") <span>Второе</span>
                <input style="margin-left:370px;" class="button" type="submit" value="Отправить" />
            </div>
        }
    </div>
</div>